
<!doctype html>
<html ng-app="fusion">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="">

<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Fusion Mobile App">

<meta name="mobile-web-app-capable" content="yes">

<title>Fusion Mobile App</title>
<link rel="stylesheet" href="styles/jquery.mobile-1.4.2.min.css" type="text/css">
<link rel="stylesheet" href="styles/addtohomescreen.css" type="text/css" >
<link rel="stylesheet" href="fonts/style.css" type="text/css" >
<link rel="stylesheet" href="styles/app.css" type="text/css" >

<!-- iPhone SPLASHSCREEN-->
<link href="apple-touch-startup-image-320x460.png" media="(device-width: 320px)" rel="apple-touch-startup-image">
<!-- iPhone (Retina) SPLASHSCREEN-->
<link href="assets/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
<!-- iPad (portrait) SPLASHSCREEN-->
<link href="assets/apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (orientation: portrait)" rel="apple-touch-startup-image">
<!-- iPad (landscape) SPLASHSCREEN-->
<link href="assets/apple-touch-startup-image-748x1024.png" media="(device-width: 768px) and (orientation: landscape)" rel="apple-touch-startup-image">
<!-- iPad (Retina, portrait) SPLASHSCREEN-->
<link href="assets/apple-touch-startup-image-1536x2008.png" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
<!-- iPad (Retina, landscape) SPLASHSCREEN-->
<link href="assets/apple-touch-startup-image-2048x1496.png" media="(device-width: 1536px)  and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">

<link rel="apple-touch-icon" href="assets/touch-icon-iphone.png"> <!-- 60x60-->
<link rel="apple-touch-icon" sizes="76x76" href="assets/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/iphone-4-icon-retnia.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/touch-icon-ipad-retina.png">

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script> 
<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script> 
</head>
<body ng-controller="FusionAppController">



		<div data-role="page" id="login" class="login-page">
			<div class="align-center center">
				<h1 class="yellow-txt"><img src="assets/fusion_logo.png" /><br> Fusion</h1>
			</div>
				
			<fieldset>
				<div class="ui-grid-a">
					<div class="ui-block-a"><div class="ui-bar ui-bar-a row"><label for="email">Email</label></div></div>
					<div class="ui-block-b"><div class="ui-bar ui-bar-a row"><input type="email" name="" id="email" ng-model="email" placeholder=""/></div></div>

					<div class="ui-block-a"><div class="ui-bar ui-bar-a row"><label for="pass">Password</label></div></div>
					<div class="ui-block-b"><div class="ui-bar ui-bar-a row"><input type="password" name="" id="pass" ng-model="password" placeholder=""/></div></div>
				</div>
			</fieldset>

			<p class="center"><a href="registration.html#forgot" target="_blank" class="yellow-txt">Forgot Password</a></p>
			
			<a href="" class="ui-btn btn" ng-click="loginUser()">Login</a>
		</div>

		

		<div data-role="page" id="checkIn">
			<div data-role="header" data-position="fixed">
				<h1>Check In</h1>
			</div>

			<p class="saved-message"></p>

				<fieldset>
					<h4 class="center lose-txt">Your check-in location. {{checkedInAddress}}</h4>

					<geo-location></geo-location>
			
					<div class="ui-grid-a">
						<div class="ui-block-a"><div class="ui-bar ui-bar-a row"><label for="staffId">Staff ID</label></div></div>
						<div class="ui-block-b"><div class="ui-bar ui-bar-a row"><input type="text" name="" id="staffId" ng-model="App.staffid" placeholder=""/></div></div>

						<div class="ui-block-a"><div class="ui-bar ui-bar-a row"><label for="storeNumber">Store Number</label></div></div>
						<div class="ui-block-b"><div class="ui-bar ui-bar-a row"><input type="text" name="" id="storeNumber" ng-model="App.storeNumber" placeholder="#"/></div></div>

						<div class="ui-block-a"><div class="ui-bar ui-bar-a row"><label for="demoDate">Demo Date</label></div></div>
						<div class="ui-block-b"><div class="ui-bar ui-bar-a row"><input type="text" readonly name="" id="demoDate" value="{{App.demoDate}}" placeholder="Demo Date"/></div></div>

						<div class="ui-block-a"><div class="ui-bar ui-bar-a row"><label for="timeIn">Time In</label></div></div>
						<div class="ui-block-b"><div class="ui-bar ui-bar-a row"><input type="text" name="-in" readonly id="timeIn" value="{{App.timeIn}}" placeholder="Time In (Read Only)"/></div></div>

						<div class="ui-block-a"><div class="ui-bar ui-bar-a row"><label for="inventory">Inventory</label></div></div>
						<div class="ui-block-b"><div class="ui-bar ui-bar-a row"><input type="text" name="" id="inventory" ng-model="App.inventory" value="" placeholder=""/></div></div>

						<div class="ui-block-a"><div class="ui-bar ui-bar-a row"><label for="price">Product Price</label></div></div>
						<div class="ui-block-b"><div class="ui-bar ui-bar-a row"><input type="text" name="" id="price" ng-model="App.price" value="" placeholder="$"/></div></div>

						<div class="ui-block-a"><div class="ui-bar ui-bar-a row tall-row"><label for="location">Demo Location</label></div></div>
						<div class="ui-block-b"><div class="ui-bar ui-bar-a row tall-row">
						<select name="" id="location" ng-model="App.demoLocation">
							<option selected></option>
							<option value="paint">Across from the paint desk</option>
							<option value="entrance">Near entrance</option>
							<option value="glue">Glue aisle</option>
							<option value="other">Other (specify)</option>
						</select>
						</div></div>

						<div class="ui-block-a hide" id="whenOther"><div class="ui-bar ui-bar-a row"><label for="otherLocation">Other Location</label></div></div>
						<div class="ui-block-b hide" id="whenOtherField"><div class="ui-bar ui-bar-a row"><input type="text" name="" id="otherLocation" ng-model="App.otherLocation" value="" placeholder="Specify"/></div></div>

					</div><!-- /grid-a -->
				</fieldset>
				
				<div class="checkInCheck"></div>

			<div data-role="footer" data-position="fixed" id="footer">
				<div data-role="navbar">
					<ul class="footer-links">
						<li><a href="#checkIn" class="ui-btn-active"><i class="icon-arrow-down2"></i><br> Check In</a></li>
						<li><a href="#report" data-transition="slide"><i class="icon-signup"></i><br> Interactions</a></li>
						<li><a href="#checkOut" ng-click="setCheckOut()"><i class="icon-arrow-up2"></i><br> Check Out</a></li>
					</ul>
				</div>
			</div><!-- /navbar -->
		</div>





		<div data-role="page" id="report">
			<div data-role="header" data-position="fixed">
				<h1>Interactions ({{App.numberOfInteractions && App.numberOfInteractions || "0" }})</h1>
				<a href="#add" class="header-nav-item ui-btn-right" data-transition="slide"><i class="icon-plus"></i></a>
			</div>

			<p class="saved-message"></p>
				
			<fieldset>
				<ol class="report-list">
					<li ng-repeat="demo in App.interactions track by $id($index)">{{demo.type}} @ {{demo.time}}</li>
				</ol>
			</fieldset>

			<a href="#add" class="ui-btn btn" data-transition="slide">Add Interaction</a>

			<div data-role="footer" data-position="fixed" id="footer">
				<div data-role="navbar">
					<ul class="footer-links">
						<li><a href="#checkIn"><i class="icon-arrow-down2"></i><br> Check In</a></li>
						<li><a href="#report" class="ui-btn-active"><i class="icon-signup"></i><br> Interactions</a></li>
						<li><a href="#checkOut" ng-click="setCheckOut()"><i class="icon-arrow-up2"></i><br> Check Out</a></li>
					</ul>
				</div>
			</div><!-- /navbar -->
		</div>



		<div data-role="page" id="add">
			<div data-role="header" data-position="fixed">
				<a href="#report" class="header-nav-item ui-btn-left" data-transition="slide" data-direction="reverse"><i class="icon-chevron-left"></i></a>
				<h1>Report</h1>
			</div>

			<p class="saved-message"></p>
				
				<fieldset>
					<div class="ui-grid-a">
						<div class="ui-block-a"><div class="ui-bar ui-bar-a row tall-row"><label for="type">Type of Demo</label></div></div>
						<div class="ui-block-b"><div class="ui-bar ui-bar-a row tall-row">
							<select name="" id="type" ng-model="type" ng-options="demo.label for demo in demos">
								<option selected></option>
							</select>
						</div></div>

						<div class="ui-block-a"><div class="ui-bar ui-bar-a row tall-row"><label for="familiar" class="multiline">Knows Product</label></div></div>
						<div class="ui-block-b"><div class="ui-bar ui-bar-a row tall-row">
							<label>
								<input type="checkbox" name="" class="interact" id="familiar" ng-model="familiar"> Yes
							</label>
						</div></div>

						<div class="ui-block-a"><div class="ui-bar ui-bar-a row tall-row"><label for="krazyGlue" class="multiline">Knows Krazy Glue</label></div></div>
						<div class="ui-block-b"><div class="ui-bar ui-bar-a row tall-row">
							<label>
								<input type="checkbox" name="" class="interact" id="krazyGlue" ng-model="krazyGlue"> Yes
							</label>
						</div></div>

						<div class="ui-block-a"><div class="ui-bar ui-bar-a row tall-row"><label for="gorillaGlue" class="multiline">Knows Gorilla Glue</label></div></div>
						<div class="ui-block-b"><div class="ui-bar ui-bar-a row tall-row">
							<label>
								<input type="checkbox"  name="" class="interact" id="gorillaGlue" ng-model="gorillaGlue"> Yes
							</label>
						</div></div>

						<div class="ui-block-a"><div class="ui-bar ui-bar-a row xtall-row"><label for="comments">Comments</label></div></div>
						<div class="ui-block-b"><div class="ui-bar ui-bar-a row xtall-row"><textarea type="text" ng-model="comments" name="" id="comments" placeholder=""></textarea></div></div>
					</div><!-- /grid-a -->
				</fieldset>
						
				<a href="#report" class="ui-btn btn" id="finish" add-interactions data-transition="slide" data-direction="reverse">Finish</a>
				
			<div data-role="footer" data-position="fixed" id="footer">
				<div data-role="navbar">
					<ul class="footer-links">
						<li><a href="#checkIn"><i class="icon-arrow-down2"></i><br> Check In</a></li>
						<li><a href="#report" class="ui-btn-active" data-transition="slide"><i class="icon-signup"></i><br> Interactions</a></li>
						<li><a href="#checkOut" ng-click="setCheckOut()"><i class="icon-arrow-up2"></i><br> Check Out</a></li>
					</ul>
				</div>
			</div><!-- /navbar -->
		</div>






		<div data-role="page" id="checkOut">
			<div data-role="header" data-position="fixed">
				<h1>Check Out</h1>
			</div>

			<p class="saved-message"></p>
				
				<fieldset>
					<div class="ui-grid-a">
						<div class="ui-block-a"><div class="ui-bar ui-bar-a row tall-row"><label for="managerName" class="multiline">Store Manager Name</label></div></div>
						<div class="ui-block-b"><div class="ui-bar ui-bar-a row tall-row"><input type="text" name="" ng-model="App.managerName" id="managerName" placeholder=""/></div></div>

						<div class="ui-block-a"><div class="ui-bar ui-bar-a row tall-row"><label for="managerReaction" class="multiline">Store Manager Reaction</label></div></div>
						<div class="ui-block-b"><div class="ui-bar ui-bar-a row tall-row">
							<select name="" id="managerReaction" ng-model="App.managerReaction">
								<option selected></option>
								<option value="satisfied">Satisfied</option>
								<option value="very_satisfied">Very Satisfied</option>
								<option value="veutral">Neutral</option>
								<option value="no_comment">No Comment</option>
							</select>
						</div></div>

						<div class="ui-block-a"><div class="ui-bar ui-bar-a row xtall-row"><label for="insights">Your Insights</label></div></div>
						<div class="ui-block-b"><div class="ui-bar ui-bar-a row xtall-row"><textarea type="text" name="" ng-model="App.insights" id="insights" placeholder=""></textarea></div></div>

						<div class="ui-block-a"><div class="ui-bar ui-bar-a row tall-row"><label for="tablePics" class="multiline">Table Setup Pics</label></div></div>
						<div class="ui-block-b"><div class="ui-bar ui-bar-a row tall-row">
							<label>
								<input type="checkbox" name="" class="interact" id="tablePics" ng-model="App.pics_of_table"> Yes
							</label>
						</div></div>


						<div class="ui-block-a"><div class="ui-bar ui-bar-a row tall-row"><label for="demoStart" class="multiline">Demo Start Pics</label></div></div>
						<div class="ui-block-b"><div class="ui-bar ui-bar-a row tall-row">
							<label>
								<input type="checkbox" name="" class="interact" id="demoStart" ng-model="App.pics_of_display_demo_start"> Yes
							</label>
						</div></div>


						<div class="ui-block-a"><div class="ui-bar ui-bar-a row tall-row"><label for="CustomerInteractionsPics" class="multiline">Interactions Pics</label></div></div>
						<div class="ui-block-b"><div class="ui-bar ui-bar-a row tall-row">
							<label>
								<input type="checkbox" name="" class="interact" id="CustomerInteractionsPics" ng-model="App.pics_of_interaction"> Yes
							</label>
						</div></div>


						<div class="ui-block-a"><div class="ui-bar ui-bar-a row tall-row"><label for="demoEnd" class="multiline">Demo End Pics</label></div></div>
						<div class="ui-block-b"><div class="ui-bar ui-bar-a row tall-row">
							<label>
								<input type="checkbox" name="" class="interact" id="demoEnd" ng-model="App.pics_of_display_demo_end"> Yes
							</label>
						</div></div>

						<div class="ui-block-a"><div class="ui-bar ui-bar-a row"><label for="timeOut">Time Out</label></div></div>
						<div class="ui-block-b"><div class="ui-bar ui-bar-a row"><input type="text" name="" id="timeOut" placeholder="(Read Only)"/></div></div>

					</div><!-- /grid-a -->
				</fieldset>

			<a href="" class="ui-btn btn" ng-click="submitReport()">Send My Report</a>

			<div data-role="footer" data-position="fixed" id="footer">
				<div data-role="navbar">
					<ul class="footer-links">
						<li><a href="#checkIn"><i class="icon-arrow-down2"></i><br> Check In</a></li>
						<li><a href="#report" data-transition="slide" data-direction="reverse"><i class="icon-signup"></i><br> Interactions</a></li>
						<li><a href="#checkOut" class="ui-btn-active" ng-click="setCheckOut()"><i class="icon-arrow-up2"></i><br> Check Out</a></li>
					</ul>
				</div>
			</div><!-- /navbar -->

		</div>

    

<script src="scripts/lib/addtohomescreen.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
<script src="scripts/lib/angular-touch.js"></script>
<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>

<script src="scripts/source/simple-signin/app.constants.js"></script>
<script src="scripts/source/simple-signin/app.services.js"></script>
<script src="scripts/source/simple-signin/app.controller.js"></script>
<script src="scripts/source/simple-signin/app.directives.js"></script>

</body>
</html>